.*
*.meta
!.gitignore
Cinemachine_ThirdPersonCamera/
DestructibleRobot/
FireBallTest/
My project/
Particle/
PhysicsSaber2/
ThirdPersonSample/
project04/
thirdperson0/
thirdperson3/
active-ragdolls/
MH/3dproject/
MH/thirdperson2/Assembly-CSharp.csproj
MH/thirdperson2/Assets/Cainos/
MH/thirdperson2/Assets/ColliderBeh.cs
MH/thirdperson2/Assets/DecreaseVelocity.cs
MH/thirdperson2/Assets/EZ Camera Shake/
MH/thirdperson2/Assets/EffectExamples/
MH/thirdperson2/Assets/HighlightListener.cs
MH/thirdperson2/Assets/HighlightManager.cs
MH/thirdperson2/Assets/HumanCollider.cs
MH/thirdperson2/Assets/Item/
MH/thirdperson2/Assets/Kevin Iglesias/
MH/thirdperson2/Assets/Material/
MH/thirdperson2/Assets/MissleBeh.cs
MH/thirdperson2/Assets/Model/
MH/thirdperson2/Assets/New Terrain.asset
MH/thirdperson2/Assets/Prefabs/
MH/thirdperson2/Assets/Scenes/
MH/thirdperson2/Assets/SetInteracting.cs
MH/thirdperson2/Assets/Texture/
MH/thirdperson2/Assets/ToggleListener.cs
MH/thirdperson2/Assets/UIManager.cs
MH/thirdperson2/Assets/Utils.cs
MH/thirdperson2/Cinemachine.csproj
MH/thirdperson2/Library/
MH/thirdperson2/Logs/
MH/thirdperson2/Packages/
MH/thirdperson2/ProjectSettings/
MH/thirdperson2/Temp/
MH/thirdperson2/Unity.CollabProxy.Editor.csproj
MH/thirdperson2/Unity.InputSystem.csproj
MH/thirdperson2/Unity.PlasticSCM.Editor.csproj
MH/thirdperson2/Unity.Rider.Editor.csproj
MH/thirdperson2/Unity.Services.Core.Editor.csproj
MH/thirdperson2/Unity.TextMeshPro.Editor.csproj
MH/thirdperson2/Unity.TextMeshPro.csproj
MH/thirdperson2/Unity.Timeline.Editor.csproj
MH/thirdperson2/Unity.Timeline.csproj
MH/thirdperson2/Unity.VSCode.Editor.csproj
MH/thirdperson2/Unity.VisualStudio.Editor.csproj
MH/thirdperson2/UnityEditor.TestRunner.csproj
MH/thirdperson2/UnityEditor.UI.csproj
MH/thirdperson2/UnityEngine.TestRunner.csproj
MH/thirdperson2/UnityEngine.UI.csproj
MH/thirdperson2/UserSettings/
MH/thirdperson2/com.unity.cinemachine.editor.csproj
MH/thirdperson2/obj/
MH/thirdperson2/thirdperson2.sln
MH/thirdperson2bak/
MH/thirdperson2bak2/
MH/update.sh
PyhsicsSaber/Assembly-CSharp.csproj
PyhsicsSaber/Assets/InputSystem.inputsettings.asset
PyhsicsSaber/Assets/Material/
PyhsicsSaber/Assets/Model/
PyhsicsSaber/Assets/Prefabs/
PyhsicsSaber/Assets/Scenes/
PyhsicsSaber/Library/
PyhsicsSaber/Logs/
PyhsicsSaber/Packages/
PyhsicsSaber/ProjectSettings/
PyhsicsSaber/PyhsicsSaber.sln
PyhsicsSaber/Temp/
PyhsicsSaber/UserSettings/
PyhsicsSaber/ignore.conf
PyhsicsSaber/obj/thridperson/
PyhsicsSaber/obj/
thridperson/
